*.exe
*.dll
*.manifest
*.pyc
*.pyo
*.dat
!filterdb.dat
*.BAD
*.gz
*.zip
*.rar
*.7z
*.bak
*.bat
*.sh
*.diff
*.patch
src/
lib/
tools/*
Release/*
Debug/*
!tools/*.py
!tools/*.presets
macros/*.*
!macros/*.py
macros/**/*.*
!macros/**/*.py
macros/test.py
AvsPmod/
tempfilterout.txt
_last_session_.ses
__translation_new.py
.VS/*
BuildTools/*
build/*
avisynth_cffi_ext.c
avisynth_cffi_ext.pyd